<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MyImgDb" connectionString="Server=ADMINISTRATOR\SQLEXPRESS;database=MyImgDb ;Integrated Security=true ;"/>
  </connectionStrings>
  <appSettings>
    <add key="FileSavePath" value="E:\Images\"/>
    
  </appSettings>
</configuration>